@media only screen and (max-width: 880px){

  .explore-us {
    padding-bottom: 5%;
  } 


}
  


/* MEDIA QUERIES MAIN HEADER */
@media (min-width: 768px) {
    .main-header-menu {
        display: flex;
    }
    .dropdown-menu {
        display: none;
    }
    .main-header-dropdown-button {
        display: none;
    }


}



