/* MEDIA QUERIES MAIN HEADER */

@media (min-width: 769px) {
    .main-header-menu {
        display: flex;
    }
    .dropdown-menu {
        display: none;
    }
    .main-header-dropdown-button {
        display: none;
    }
}
@media (max-width: 768px) {
	.speech {
		display: inline-block;
	}
}
@media (max-width: 325px) {
.card , .course {
	min-width: 15rem;
}

video {
	width: 220px;
}
}