/* MEDIA QUERIES MAIN HEADER */

@media (min-width: 768px) {
    .main-header-menu {
        display: flex;
    }
    .dropdown-menu {
        display: none;
    }
    .main-header-dropdown-button {
        display: none;
    }
}